 <div class="container-fluid">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
      
        <form [formGroup]="profilForm" method="post" (ngSubmit)="onSubmit()">

                <h2 class="sr-only">Création d'un compte</h2>

                <div class="mb-3">
                    <label class="form-label" for="pseudo">Entrez votre nom : </label>
                    <input class="form-control perso-form" type="text" name="pseudo" formControlName="name" (blur)="validateName()">
                    <div *ngIf="profilForm.controls['name'].touched && !profilForm.controls['name'].valid">
                        <p class="text-danger" *ngIf="profilForm.controls['name'].errors?.['required']">Champ requis.</p>
                        <p class="text-danger" *ngIf="profilForm.controls['name'].errors?.['minlength']">Minimum 4 caractères.</p>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="email">Entrez votre mail : </label>
                    <input class="form-control perso-form" type="email" name="email" formControlName="mail" (blur)="validateMail()">
                    <div *ngIf="profilForm.controls['mail'].touched && !profilForm.controls['mail'].valid">
                        <div class="text-danger" *ngIf="profilForm.controls['mail'].errors?.['required']">Email is required.</div>
                        <div class="text-danger" *ngIf="profilForm.controls['mail'].errors?.['email']">Email n'est pas correct.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="password">Entrez votre mot de passe : </label>
                    <input class="form-control perso-form" type="password" name="password" formControlName="password">
                    <div *ngIf="profilForm.controls['password'].touched && !profilForm.controls['password'].valid">
                        <p class="text-danger" *ngIf="profilForm.controls['password'].errors?.['required']">Mot de passe requis !</p>
                        <p class="text-danger" *ngIf="profilForm.controls['password'].errors?.['pattern']"> 
                            Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et avoir une longueur minimale de 8 caractères.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block">➡️ Création</button>
                </div>

                <a class="text-info-emphasis">Mot de passe ou mail oublié ?</a>

            </form>
        </div>
    </div>
</div>