<div class="container-fluid">
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" (ngSubmit)="log()">
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail" [(ngModel)]="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password" name="password" required>
        </div>
      <!-- 
        @if (!(_auth.isAuthenticated$ | async)) {     
          <div>
            <button type="button" class="btn btn-primary" (click)="_auth.loginWithPopup()">Log in</button> 
          </div>
        }
        @else {
          <div>
            <button type="button" class="btn btn-primary" (click)="_auth.logout()">Log out</button>
          </div>
        } -->
        <button class="btn btn-primary">Check</button>
      </form>
    </div>
  </div>
</div>
</div>


<button (click)="testLocalStorage()">Test Local storage</button>